@use "../const" as cn;

.nav {
    position: fixed;
    width: 510px;
    z-index: 20;
    right: 80px;
    background: #fff;
    padding: 20px 24px 20px 44px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.15);
    border-radius: 74px;
}
.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-list {
    width: 58%;
    display: flex;
    justify-content: space-between;
}
.nav-item {
    position: relative;
    &:last-child {
        margin-right: 0;
    }
}
.nav-link {
    padding: 10px 20px;
    text-decoration: none;
    color: cn.$color-main;
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: cn.$color-main;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: transform ease-in-out 0.15s;
    }
}
.nav-contact {
    line-height: 1;
    text-align: right;
}