@use "../const" as cn;

.panel {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center;
    padding: 85px 20px 60px;
    transition: background-color ease-out .2s, border-color ease-out .2s;
}

// .panel-inner {

// }
.panel-headline {
    line-height: 1;
    font-size: 48px;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;
    padding-right: 50px;
    transition: padding ease-out .2s;

    > span {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(cn.$color-sub, .2);
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 0px solid #fff;
        transition: transform ease-out .2s, background-color ease-out .2s;
        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: cn.$color-sub;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

}
.panel-disc {

}   