.point {
    padding: 160px 120px;
}
.point-list{
    display: flex;
    justify-content: center;
    margin: 80px -12px -12px;
    width: 100%;
}
.point-item{
    margin: 12px;
    width: 31%;
}

@media screen and (max-width: 768px) {
    .point{
        padding: 20px;
    }
    .point-list {
        margin: 40px 0 0;
        flex-direction: column;
    }
    .point-item{
        width: 100%;
        margin: 0 0 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}