@use "../const" as cn;

.showcase {
    padding: 140px 0 120px;
    overflow: hidden;
}

.showcase-header {
    padding: 0 120px;
    margin-bottom: 75px;
}

.showcase-header-link{
    line-height: 0;
}

.showcase-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase-header-headline {
    font-size: bold;
    font-weight: 48px;
    color: cn.$color-main;
    letter-spacing: .05em;
}



.showcase-contents {
    white-space: nowrap;
    overflow: hidden;
}

.showcase-list {
    overflow: scroll;
    padding-bottom: 80px;
    scrollbar-color:cn.$color-sub #333;
    scrollbar-width: thin;
    padding-right: 120px;
}

.showcase-item {
    vertical-align: top;
    white-space: wrap;
    display: inline-block;
    width: 772px;
    margin-right: 16px;
    &:first-child {
        width: 120px;
        visibility: hidden;
        margin: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: cn.$bp-sm){
  .showcase {
    padding: 0 0 60;
    position: relative;
    margin: 40px 0;
  }
    .showcase-header-link {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
  .showcase-header{
    padding: 0 20px;
    display: block;
    text-align: center;
  }
  .showcase-header-inner{
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .showcase-header-headline{
    font-size: 24px;
  }
  .showcase-list{
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .showcase-item{
    width: 100%;
    &:first-child{
        display: none;
    }
  }
}