<section class="about">
    <div class="about-container">
       <%- include("../modules/components/_headline.html", {
        modifier: "",
        main: "ABOUT",
        sub: "SiiDとは",
       }) %> 

       <div class="about-desc">
              <p>
                SiiDは、次世代のWeb体験を提供することを目指す革新的な企業です。私たちは、最新の技術とクリエイティブなデザインを組み合わせ、ユーザーにとって魅力的で使いやすいウェブサイトやアプリケーションを開発しています。
              </p>
              <p>
                私たちのチームは、多様なバックグラウンドを持つ専門家で構成されており、各プロジェクトに対して独自の視点とスキルを提供します。お客様のニーズに応じたカスタマイズされたソリューションを提供し、ビジネスの成長をサポートします。
              </p>
              <p>
                <strong>SiiDは、技術革新とユーザーエクスペリエンスの向上に情熱を持って取り組んでいます。私たちと一緒に、未来のWebを形作りましょう。</strong>
              </p>
        </div>

        <%- include("../modules/components/_link.html", {  
            modifier: "link-full",
            href: "",
            text: "MORE",
        }) %> 

        <div class="about-bottom">
           Self-Learning / Imagination / ICT / Development
        </div>
    </div>
</section>